<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/api/signin" method="POST">
  <label for="fname">Email:</label><br>
  <input type="text" id="fname" name="email" value="d@gmail.com"><br>
  <label for="lname">Password:</label><br>
  <input type="text" id="lname" name="password" value="Shivam"><br><br>
  <input type="submit" value="Submit">
</form> 

<%=userProfile.length%>

</body>
</html>
