<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>
<body>
    <div class="testing"></div>
    <header class="post-header">
        <a href="#">
            <img class="logo" src="images/IvoryQuill.png" alt="logo">
        </a>
        <nav class="navbar-expand-md">
            <button class="navbar-toggler collapsed" onclick="showHideNav()" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              <div></div>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav page-nav">
                    <li class="nav-item"> <a href="/">Home</a> </li>
                    <li class="nav-item"> <a href="/api/signout">Logout</a> </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container profile center">
        <img class="profile-pic" src="images/profilepic.jpg" alt="profil_pic">
        <div class="profile-options">
            <% if (userProfile!==undefined){ %>
                <h2><%= userProfile.name %></h2>
              <% } %> 
         
            <ul>
                <li class="options"><a href="/edit/profile">Edit Profile</a></li>
                <li class="options"><a href="/write">Write Article</a></li>
                <li class="options"><a href="#">Edit Article</a></li>
                <li class="options"><a href="#">Edit Article</a></li>
                <li class="options"><a href="#">Article Status</a></li>
            </ul>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="javascripts/profile.js"></script>
</body>
</html>